body {
  font-family: Raleway, Arial, sans-serif;
}

/* HEADER START */
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 24px 96px 24px;
}

.header-menu {
  display: grid;
  grid-auto-flow: column;
  padding-left: 26px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header-menu li:first-child {
  list-style: none;
}

.list-decoration {
  font-size: 18px;
}

.link-active a {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  display: grid;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header-address {
  padding: 5px 0px 2px 184px;
}

/* HEADER END */

/* COVER START */
.cover {
  position: relative;
  z-index: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  padding: 165px 50px 135px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  line-height: 140px;
  text-align: center;
}

.aligned-text_right {
  line-height: 100px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 51px 78px;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  word-spacing: 17px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
/* COVER END */

/* LOTS START */
.lots {
  padding: 179px 24px 183px 24px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  color: #fff;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  z-index: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  padding: 51px 40px 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  text-underline-offset: 4px;
}
/* LOTS END */

/* ABOUT START */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  padding: 0 24px 180px 24px;
}

.about__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  padding-left: 25px;
}

.about__title {
  padding: 100px 0 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01rem;
}

.about__text p:first-of-type {
  padding-top: 0;
}

.about__text p {
  padding-top: 24px;
}

/* ABOUT END */

/* FOOTER START */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 88px 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 26px;
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-icon {
  width: 48px;
  height: 48px;
}

/* FOOTER END */
